# Object files.
*.o

# Libraries files.
*.lib
*.a

# Dynamic Libraries.
*.dll
*.so
*.so.*
*.dylib

# The makefile.
Makefile
makefile

# Dropbox files.
.dropbox

# Qt user files.
*.pro.user
*.pro.user.*

# The build directories
build*
release*
debug*

#Windows thumbnails
Thumbs.db